*{
    box-sizing: border-box;
}
body{
        background-color: rgba(243, 241, 241, 0.89);
}
.navbar{
   background-color: rgb(46, 4, 59);
   position: fixed;
   width: 100%;
   z-index: 9999;
  padding: 15px ;
}
.navbar ul li a{  
    color: #fff!important;
  }
.navbar ul li a.active, .navbar ul li a:hover{
    color: #fff!important;
    font-weight: bold;
  }
  .navbar ul li button{
      background-color: transparent;
      margin-left: 10px;
      color: #fff;
  }
#banner .carousel-caption{
   font-size: 6em ;
   padding: 10px; 
}
#banner .carousel-inner .btn{
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: whitesmoke;
}

#bannner .carousel-inner .btn:hover{
  background-color: transparent;
  border: 2px solid black;
  color: black;
  transform: scale(1.00);
}
#happening h4{
text-align: center;
padding: 50px;
}
#happening  h6{
     padding-top: 20px; 
     color: rgb(71, 70, 70);
}
#happening  p{
    text-align: left;
    font-size: 12px;
    color: rgb(78, 77, 77);
}
#happening a{
    float: right;
    padding: 2px;
    font-size: 12px;
    margin-bottom: 40px;
}
#poster .carousel-caption {
    margin-bottom: 40px;
    padding: 20px;
}
#poster .carousel-caption .btn{
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: whitesmoke;
}
#poster .carousel-caption .btn:hover{
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transform: scale(1.00);
  }
#work h4{
    text-align: center;
    padding: 50px;
 }
#work h6{
    padding-top: 30px; 
    color: rgb(71, 70, 70);
}
#work .row{
    margin-bottom: 60px;
}
#work button{
    color: #fff;
    background-color: rgb(75, 192, 207);
    font-size: 14px;
    border-radius: 7px;
}
#work button:hover{
    color:black;
    background-color: transparent;
    font-size: 14px;
    border-radius: 7px;
}
#brands{
    background-color: rgb(250, 249, 249);
}
#brands h4{
    text-align: center;
    padding: 50px;
}
#brands img{
    padding: 30px;
}
footer h6{
    color: rgb(218, 216, 216);
}
footer p{
    color: rgb(163, 163, 163);
    text-decoration: none ;
    cursor: pointer;
    font-size: 16px;
}
footer p:hover{
    color: #fff;
    cursor: pointer;
    transform: scale(1.03);
    text-decoration: underline;
}
  
